absl-py==2.0.0
accelerate==0.25.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.2.0
appdirs==1.4.4
asttokens==2.4.1
async-timeout==4.0.3
attributedict==0.3.0
attrs==23.2.0
audioread==3.0.1
auto-gptq @ https://github.com/jllllll/AutoGPTQ/releases/download/v0.6.0/auto_gptq-0.6.0+cu121-cp310-cp310-linux_x86_64.whl#sha256=3e34c1d3488cdb3b30221d1d89c22b009bf6e1ef565589c4f235ace9c326fbd9
autoawq==0.1.8
Babel==2.14.0
backoff==2.2.1
bangla==0.0.2
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
blessings==1.7
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chromadb==0.3.18
click==8.1.7
clickhouse-connect==0.6.23
cloudpathlib==0.16.0
codecov==2.1.13
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.0
colour-runner==0.1.1
confection==0.1.4
contourpy==1.2.0
coqpit==0.0.17
coverage==7.4.0
cramjam==2.7.0
ctransformers @ https://github.com/jllllll/ctransformers-cuBLAS-wheels/releases/download/AVX2/ctransformers-0.2.27+cu121-py3-none-any.whl#sha256=9be6bfa8ac9feb5b2d4c98fbf5ac90394bbfa5c406313f8161dca67b28333e51
cycler==0.12.1
cymem==2.0.8
Cython==3.0.7
DataProperty==1.0.1
datasets==2.16.1
dateparser==1.1.8
decorator==5.1.1
deep-translator==1.9.2
deepdiff==6.7.1
dill==0.3.7
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
docopt==0.6.2
duckdb==0.9.2
einops==0.7.0
encodec==0.1.1
exceptiongroup==1.2.0
executing==2.0.1
exllamav2 @ https://github.com/turboderp/exllamav2/releases/download/v0.0.11/exllamav2-0.0.11+cu121-cp310-cp310-linux_x86_64.whl#sha256=e52fded92f3c87d9f1efd0c34e96f82f0450eb5307dc41a8cdd08cbddc0539db
fastapi==0.108.0
fastparquet==2023.10.1
ffmpeg==1.4
ffmpy==0.3.1
filelock==3.13.1
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.3.4/flash_attn-2.3.4+cu122torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=a4f74d7c46a5b6c86d3f7539b07d11a76e7bfe8089cbc1de8ee79f0cf984bb13
Flask==3.0.0
flask-cloudflared==0.0.14
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.10.0
g2pkk==0.1.2
gekko==1.0.6
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.26.1
google-auth-oauthlib==1.2.0
gptq-for-llama @ https://github.com/jllllll/GPTQ-for-LLaMa-CUDA/releases/download/0.1.1/gptq_for_llama-0.1.1+cu121-cp310-cp310-linux_x86_64.whl#sha256=a4a9972eb1b902bb14781da1549519b1ce4c74c668a2fa482598ed682fef5836
gradio==3.50.2
gradio_client==0.6.1
graphviz==0.20.1
greenlet==3.0.3
grpcio==1.60.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.0
gruut_lang_en==2.0.0
gruut_lang_es==2.0.0
gruut_lang_fr==2.0.2
h11==0.14.0
hangul-romanize==0.1.0
hnswlib==0.8.0
hqq==0.1.1.post1
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.20.1
humanfriendly==10.0
icecream==2.1.3
idna==3.6
importlib-resources==6.1.1
inflect==7.0.0
inspecta==0.1.3
ipython==8.19.0
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jsonlines==1.2.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
librosa==0.10.0
llama_cpp_python @ https://github.com/jllllll/llama-cpp-python-cuBLAS-wheels/releases/download/cpu/llama_cpp_python-0.2.25+cpuavx2-cp310-cp310-manylinux_2_31_x86_64.whl#sha256=94b4582d8db23fca9a23cece0886f4b20c73b5c29e32b7312b59b03dacf6d37d
llama_cpp_python_cuda @ https://github.com/jllllll/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda-0.2.25+cu121-cp310-cp310-manylinux_2_31_x86_64.whl#sha256=5a7b3a4f2ccf5aac74e8095a2f8c5c6a127b41a37c94f25cc8ce5389229c67e5
llama_cpp_python_cuda_tensorcores @ https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda_tensorcores-0.2.25+cu121-cp310-cp310-manylinux_2_31_x86_64.whl#sha256=d5ed2f55fd9aa6c2e0a9c8de6c14968aecb1d16ed7edd39413cda50de23ef594
llvmlite==0.41.1
lm-eval==0.3.0
lxml==5.0.0
lz4==4.3.3
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
networkx==2.8.8
ngrok==0.12.1
ninja==1.11.1.1
nltk==3.8.1
num2words==0.5.13
numba==0.58.1
numexpr==2.8.8
numpy==1.22.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.6.1
openai-whisper==20231117
optimum==1.16.1
optuna==3.5.0
ordered-set==4.1.0
orjson==3.9.10
packaging==23.2
pandas==2.0.3
parso==0.8.3
pathvalidate==3.2.0
peft==0.7.1
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.1.0
pluggy==1.3.0
pooch==1.8.0
portalocker==2.8.2
posthog==2.4.2
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.23.4
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycountry==23.12.11
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
Pygments==2.17.2
pynndescent==0.5.11
pyparsing==3.1.1
pypinyin==0.50.0
pyproject-api==1.6.1
pysbd==0.3.4
pytablewriter==1.2.0
pytextrank==3.2.5
python-crfsuite==0.9.10
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
quant_cuda==0.0.0
referencing==0.32.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rootpath==0.1.1
rouge==1.0.1
rouge_score==0.1.2
rpds-py==0.16.2
rsa==4.9
sacrebleu==1.5.0
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.39.1
setproctitle==1.3.3
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.25
sqlitedict==2.1.0
srsly==2.4.8
sse-starlette==1.6.5
stack-data==0.6.3
starlette==0.32.0.post1
SudachiDict-core==20230927
SudachiPy==0.6.8
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.4
tensorboard==2.15.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
texttable==1.7.0
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.2
timm==0.9.12
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tox==4.11.4
tqdm==4.66.1
tqdm-multiprocess==0.0.11
trainer==0.0.36
traitlets==5.14.1
transformers==4.36.2
triton==2.1.0
TTS==0.21.3
typepy==1.3.2
typer==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
umap-learn==0.5.5
Unidecode==1.3.7
urllib3==2.1.0
uvicorn==0.25.0
uvloop==0.19.0
virtualenv==20.25.0
wandb==0.16.1
wasabi==1.1.2
watchfiles==0.21.0
wcwidth==0.2.12
weasel==0.3.4
websockets==11.0.3
Werkzeug==3.0.1
xxhash==3.4.1
yarl==1.9.4
zstandard==0.22.0
